{% load static %}
{% include 'material/includes/material_css.html' %}
<script src="{% static 'material/js/jquery-2.2.0.js' %}"></script>
{% include 'material/includes/material_js.html' %}
<link rel="stylesheet" href="{% static 'material/css/base.css' %}">
{% load material_form %}


<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">


</head>

<body>

<header>
	<div class="container">
		<nav class="nav-top indigo darken-4">
			<div class = "container" style="font-size: 30px;">
				<span class="nav-top white-text"><center>FUTBOL WORSHIPPERS PREDICTOR LEAGUE</center></span>
			</div>
		</nav>
	</div>
</header>
<!-- <main>
     {% block level_0 %}
     {% endblock %}
</main> -->
<!-- <div id="load_indicator" class="preloader-wrapper big active"
     style="position:absolute;left:45%;top:45%;display:none">
    <div class="spinner-layer spinner-blue-only">
        <div class="circle-clipper left">
            <div class="circle"></div>
        </div>
        <div class="gap-patch">
            <div class="circle"></div>
        </div>
        <div class="circle-clipper right">
            <div class="circle"></div>
        </div>
    </div>
</div> -->

</body>
</html>