{% load static %}
{% load staticfiles %}
{% load material_form %}
{% load common %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{% endblock %}</title>
    <script src="{% static 'material/js/jquery-2.2.0.js' %}"></script>
    {% include 'material/includes/material_css.html' %}
    {% include 'material/includes/material_js.html' %}
</head>

<body style="background-color: #EAEAEA">
	<nav class="nav-top indigo darken-4">
		<div class = "container" style="font-size: 30px;">
			<a href="{% url 'home' %}" class="brand-logo center">FUTBOL WORSHIPPERS PREDICTOR LEAGUE</a>
		</div>
	</nav>

<div class="container">
     {% block level_0 %}
     {% endblock %}
</div>


<div class="container">
     {% block level_1 %}
     {% endblock %}
</div>
    
</body>

</html>
